@mixin InputVariant($color) {
    background: $white-color;
    &:hover,
    &:focus,
    &.focus {
      border: 2px solid $color;
      outline: none;
    }
    &:disabled,
    &[disabled],
    fieldset[disabled],
    .disabled & {
      cursor: not-allowed;
      opacity: 0.5;
    }
    &::placeholder {
      color: #888B90;
      font-weight: 500;
    }
  }